<?xml version="1.0"?>
<launch>
	<include file="$(find ceres_gazebo)/launch/ceres.launch" >
	</include>

	<!-- Run AMCL -->
    <include file="$(find ceres_navigation)/launch/amcl.launch" />

	<include file="$(find ceres_navigation)/launch/map_server.launch">
        <arg name="map" value="$(find ceres_navigation)/maps/avz_6_floor_gazebo.yaml"/>
	</include>


    <!-- Move Base Flex -->
      <node pkg="move_base_flex" type="mbf_2d_nav" respawn="false" name="move_base_flex" output="screen">
        <param name="tf_timeout" value="1.5"/>
        <param name="global_planner_max_retries" value="3"/>
        <rosparam file="$(find ceres_navigation)/config/global_planner.yaml" command="load" />
        <rosparam file="$(find ceres_navigation)/config/local_planner.yaml" command="load" />
        <rosparam file="$(find ceres_navigation)/config/recovery_behaviors.yaml" command="load" />
        <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find ceres_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find ceres_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find ceres_navigation)/config/local_costmap_params.yaml" command="load" />
      </node>

      <!-- visualisation -->
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ceres_rosplan_launch)/rviz/rviz_config.rviz">
      </node>


 </launch>
